._2S90M6f_Obed6lgY6dMG8y {
  stroke:#ffffff;
}

._2S90M6f_Obed6lgY6dMG8y.Ea4vfc9XIf4_UFM2WJPU7 {
  stroke: grey;
}

._2S90M6f_Obed6lgY6dMG8y ._1c_ACn_IDH4hWdL9O7ZcfY{
  fill:#255755;
}
  
._2S90M6f_Obed6lgY6dMG8y ._1Y53VEtaZAqYGJQZcDV1c2{
  fill:none;
}

._2S90M6f_Obed6lgY6dMG8y ._1c_ACn_IDH4hWdL9O7ZcfY, ._2S90M6f_Obed6lgY6dMG8y ._1Y53VEtaZAqYGJQZcDV1c2{
  stroke-linecap:round;
  stroke-linejoin:round;
}

._1VRNQn98ycsJIVjBjLhuZ9 {
  stroke:#ffffff;
}

._1VRNQn98ycsJIVjBjLhuZ9 ._1c_ACn_IDH4hWdL9O7ZcfY{
  fill:#255755;
}

._1VRNQn98ycsJIVjBjLhuZ9 ._1c_ACn_IDH4hWdL9O7ZcfY,._1VRNQn98ycsJIVjBjLhuZ9 ._1Y53VEtaZAqYGJQZcDV1c2,._1VRNQn98ycsJIVjBjLhuZ9 .q8a4igTSUD0FMwVtvJD_x{

  stroke-linecap:round;
  stroke-linejoin:round;
}

._1VRNQn98ycsJIVjBjLhuZ9 ._1Y53VEtaZAqYGJQZcDV1c2{
  fill:none;
}
._1VRNQn98ycsJIVjBjLhuZ9 .q8a4igTSUD0FMwVtvJD_x{
  fill:#fff;
}
  


.oFNR5svHEwvhPUryOuStC {
  stroke:#000;
}

.oFNR5svHEwvhPUryOuStC._3uJrGgVLeHY8Jd3ABeMFgn, .oFNR5svHEwvhPUryOuStC:hover {
  stroke:#fff;
}

._3q6CNlyeaZL49YxbeWWodr:hover, ._3tAsA8tIFlFynhu-ryXmBm:hover {
  stroke: #000;
}

.oFNR5svHEwvhPUryOuStC.FRaWIySFMnujP3ZxcsrP2 {
  stroke: grey;
}

._27BsTItog9dvEWv7ipNxoA ._1OAX74ebWVvsWOkDGFICZ9{
  font-size:17px;
  font-family:Arial;
}

.ymKJWrQN39sjOcoHYwNLF ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

.D6ycZ7_S4dA1V8zeufskw ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

.j9IRyROzymURgRE93QtT9 ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

._3q6CNlyeaZL49YxbeWWodr ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

.hjVGE0nPMDrl06rfYBJA0 {
  stroke-width:0.75px;
}
.hjVGE0nPMDrl06rfYBJA0 ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
}
.hjVGE0nPMDrl06rfYBJA0 ._1OAX74ebWVvsWOkDGFICZ9,.hjVGE0nPMDrl06rfYBJA0 ._3uPdjHn2yN7GWJXYLA5QSl,.hjVGE0nPMDrl06rfYBJA0 .U347q6yIAqHyBgsPEpqeA{
  stroke-linecap:round;
  stroke-linejoin:round;
}
.hjVGE0nPMDrl06rfYBJA0 .DktHjfspV3gzMWMBTI_An,.hjVGE0nPMDrl06rfYBJA0 ._3dpEWTVClyiNjSVs5W4KyS{
  fill:#000;
  stroke-miterlimit:22.926;
  fill-rule:evenodd;
}


._3tAsA8tIFlFynhu-ryXmBm ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
}  
._3tAsA8tIFlFynhu-ryXmBm ._1OAX74ebWVvsWOkDGFICZ9,._3tAsA8tIFlFynhu-ryXmBm ._3uPdjHn2yN7GWJXYLA5QSl{
  stroke-width:0.75px;
}
._3tAsA8tIFlFynhu-ryXmBm ._3uPdjHn2yN7GWJXYLA5QSl{
  stroke-miterlimit:22.926;
  fill-rule:evenodd;
}


.NgA34BezWsnIkBHFLvmUL ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

.sBh2pZZ1vO-McP_HuOsoL ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

.FmqEV8bJYJ0I398z4LEwO ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

._1qY_L9ewICZZo6RYINOdWi ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

._1H69GpJQIEs7gam4z--zsV ._1OAX74ebWVvsWOkDGFICZ9,._1H69GpJQIEs7gam4z--zsV ._3uPdjHn2yN7GWJXYLA5QSl{
  fill:none;
  stroke-width:0.75px;
}
._1H69GpJQIEs7gam4z--zsV ._1OAX74ebWVvsWOkDGFICZ9{
  stroke-linecap:round;
  stroke-linejoin:round;
}
._1H69GpJQIEs7gam4z--zsV ._3uPdjHn2yN7GWJXYLA5QSl{
  stroke-miterlimit:22.926;
}

._3IfdGImlBSad4KMdQDYhZ1 ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

.CX5Fl3MrK3I762LR8LhA ._1OAX74ebWVvsWOkDGFICZ9{
  fill:#fff;
  stroke-miterlimit:10;
}
.CX5Fl3MrK3I762LR8LhA ._1OAX74ebWVvsWOkDGFICZ9,.CX5Fl3MrK3I762LR8LhA ._3uPdjHn2yN7GWJXYLA5QSl{
  stroke-width:0.65px;
}
.CX5Fl3MrK3I762LR8LhA ._3uPdjHn2yN7GWJXYLA5QSl{
  fill:none;
}

._2kun3d0WLP_gtYG5GtDGQl ._1OAX74ebWVvsWOkDGFICZ9{
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.75px;
}

.PHto639oRhYijxo_VlTm ._1OAX74ebWVvsWOkDGFICZ9,.PHto639oRhYijxo_VlTm ._3uPdjHn2yN7GWJXYLA5QSl{
  fill:none;
  stroke-width:0.75px;
}
.PHto639oRhYijxo_VlTm ._1OAX74ebWVvsWOkDGFICZ9{
  stroke-linecap:round;
  stroke-linejoin:round;
}
.PHto639oRhYijxo_VlTm ._3uPdjHn2yN7GWJXYLA5QSl{
  stroke-miterlimit:22.926;
}

  


.sL5_8QG3ujmg0l4Pzkxdm ._3U_yNFvqPyfrB4HfT8VLAR{
  fill:#ed553b;
  stroke:#fff;
  stroke-linecap:round;
  stroke-linejoin:round;
}
